__pycache__/
*.py[cod]
*.tmp
.pytest_cache/
.ipynb_checkpoints/
resultados_sobreposicao_v3/
/resultados_experimento/
/docs/
/desenvolvimento/
/tests/
.venv/
dados/coletas/
resultados_reconstrucao/
.aws/
.codex/
.agents/
